In [14]:
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns

In [15]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='wZDmDWGyiQrOEXwAZIKH-rmqaYTbpN8Y1ClESAYBEdU4',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

bucket = 'carresalevalueprediction-donotdelete-pr-f0fawdnct29flo'
object_key = 'CAR DETAILS.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

car = pd.read_csv(body)
car.head()

,car_models,company_name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,Maruti,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,Maruti,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,Hyundai,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,Datsun,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,Honda,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [16]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4340 entries, 0 to 4339
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_models     4340 non-null   object
 1   company_name   4340 non-null   object
 2   year           4340 non-null   int64
 3   selling_price  4340 non-null   int64
 4   km_driven      4340 non-null   int64
 5   fuel           4340 non-null   object
 6   seller_type    4340 non-null   object
 7   transmission   4340 non-null   object
 8   owner          4340 non-null   object
dtypes: int64(3), object(6)
memory usage: 305.3+ KB

In [17]:
car['year'].unique()

array([2007, 2012, 2017, 2014, 2016, 2015, 2018, 2019, 2013, 2011, 2010,
       2009, 2006, 1996, 2005, 2008, 2004, 1998, 2003, 2002, 2020, 2000,
       1999, 2001, 1995, 1997, 1992])

In [18]:

import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='wZDmDWGyiQrOEXwAZIKH-rmqaYTbpN8Y1ClESAYBEdU4',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

bucket = 'carresalevalueprediction-donotdelete-pr-f0fawdnct29flo'
object_key = 'CAR DETAILS.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_3 = pd.read_csv(body)
df_data_3.head()
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='wZDmDWGyiQrOEXwAZIKH-rmqaYTbpN8Y1ClESAYBEdU4',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

bucket = 'carresalevalueprediction-donotdelete-pr-f0fawdnct29flo'
object_key = 'CAR DETAILS.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

car= pd.read_csv(body)
car.head()
car['owner'].unique()
import os, types
import pandas as pd
from botocore.client import Config
import ibm_boto3

def __iter__(self): return 0

# @hidden_cell
# The following code accesses a file in your IBM Cloud Object Storage. It includes your credentials.
# You might want to remove those credentials before you share the notebook.
cos_client = ibm_boto3.client(service_name='s3',
    ibm_api_key_id='wZDmDWGyiQrOEXwAZIKH-rmqaYTbpN8Y1ClESAYBEdU4',
    ibm_auth_endpoint="https://iam.cloud.ibm.com/oidc/token",
    config=Config(signature_version='oauth'),
    endpoint_url='https://s3.private.us.cloud-object-storage.appdomain.cloud')

bucket = 'carresalevalueprediction-donotdelete-pr-f0fawdnct29flo'
object_key = 'CAR DETAILS.csv'

body = cos_client.get_object(Bucket=bucket,Key=object_key)['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

car= pd.read_csv(body)
car.head()

,car_models,company_name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,Maruti,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,Maruti,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,Hyundai,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,Datsun,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,Honda,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [19]:
car.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [20]:
car.describe(include=['object'])

,car_models,company_name,fuel,seller_type,transmission,owner
count,4340,4340,4340,4340,4340,4340
unique,1491,29,5,3,2,5
top,Maruti Swift Dzire VDI,Maruti,Diesel,Individual,Manual,First Owner
freq,69,1280,2153,3244,3892,2832

In [21]:
car.isnull().any()

car_models       False
company_name     False
year             False
selling_price    False
km_driven        False
fuel             False
seller_type      False
transmission     False
owner            False
dtype: bool

In [23]:
car.isnull().sum()

car_models       0
company_name     0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
dtype: int64

## Cleaning

In [24]:
backup=car.copy()

In [26]:
car['car_models']=car['car_models'].str.split(' ').str.slice(0,3).str.join(' ')

In [27]:
car.to_csv('Cleaned Car.csv')

In [28]:
car.head()

,car_models,company_name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,Maruti,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R,Maruti,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6,Hyundai,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T,Datsun,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX,Honda,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [29]:
x=car.drop(columns='selling_price')
y=car['selling_price']

In [30]:
x

,car_models,company_name,year,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,Maruti,2007,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R,Maruti,2007,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6,Hyundai,2012,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T,Datsun,2017,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX,Honda,2014,141000,Diesel,Individual,Manual,Second Owner
...,...,...,...,...,...,...,...,...
4335,Hyundai i20 Magna,Hyundai,2014,80000,Diesel,Individual,Manual,Second Owner
4336,Hyundai i20 Magna,Hyundai,2014,80000,Diesel,Individual,Manual,Second Owner
4337,Maruti 800 AC,Maruti,2009,83000,Petrol,Individual,Manual,Second Owner
4338,Hyundai Creta 1.6,Hyundai,2016,90000,Diesel,Individual,Manual,First Owner
4339,Renault KWID RXT,Renault,2016,40000,Petrol,Individual,Manual,First Owner

In [31]:
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [32]:
from sklearn.model_selection import train_test_split
X_Train, X_Test, Y_Train, Y_Test = train_test_split(x, y, test_size=0.2, random_state=0)

In [33]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [34]:
ohe=OneHotEncoder()
ohe.fit(x[['car_models','company_name','fuel','seller_type','transmission','owner']])

OneHotEncoder()

In [37]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['car_models','company_name','fuel','seller_type','transmission','owner']),
                                     remainder='passthrough')

In [38]:
lr=LinearRegression()

In [39]:
pipe=make_pipeline(column_trans,lr)

In [40]:
pipe.fit(X_Train,Y_Train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Ambassador CLASSIC 1500', 'Ambassador Classic 2000',
       'Ambassador Grand 1800', 'Audi A4 1.8', 'Audi A4 2.0',
       'Audi A4 3.0', 'Audi A4 30', 'Audi A4 35', 'Audi A4 New',
       'Audi A5 Sportback', 'Audi A6 2.0', 'Audi A6 2.7', 'Audi A6 2.8',
       'Audi A8 4.2', '...
                                                                            array(['CNG', 'Diesel', 'Electric', 'LPG', 'Petrol'], dtype=object),
                                                                            array(['Dealer', 'Individual', 'Trustmark Dealer'], dtype=object),
                                                                            array(['Automatic', 'Manual'], dtype=object),
                                                                            array(['First Owner', 'Fourth & Above Owner', 'Second Owner',
       'Test Drive Car', 'Third Owner'], dtype=object)]),
                                                  ['car_models', 'company_name',
                                                   'fuel', 'seller_type',
                                                   'transmission',
                                                   'owner'])])),
                ('linearregression', LinearRegression())])

In [41]:
y_pred=pipe.predict(X_Test)

In [42]:
r2_score(Y_Test,y_pred)

0.894682113881055

In [43]:
car.head

<bound method NDFrame.head of              car_models company_name  year  selling_price  km_driven    fuel  \
0         Maruti 800 AC       Maruti  2007          60000      70000  Petrol
1        Maruti Wagon R       Maruti  2007         135000      50000  Petrol
2     Hyundai Verna 1.6      Hyundai  2012         600000     100000  Diesel
3       Datsun RediGO T       Datsun  2017         250000      46000  Petrol
4        Honda Amaze VX        Honda  2014         450000     141000  Diesel
...                 ...          ...   ...            ...        ...     ...
4335  Hyundai i20 Magna      Hyundai  2014         409999      80000  Diesel
4336  Hyundai i20 Magna      Hyundai  2014         409999      80000  Diesel
4337      Maruti 800 AC       Maruti  2009         110000      83000  Petrol
4338  Hyundai Creta 1.6      Hyundai  2016         865000      90000  Diesel
4339   Renault KWID RXT      Renault  2016         225000      40000  Petrol

     seller_type transmission         owner
0     Individual       Manual   First Owner
1     Individual       Manual   First Owner
2     Individual       Manual   First Owner
3     Individual       Manual   First Owner
4     Individual       Manual  Second Owner
...          ...          ...           ...
4335  Individual       Manual  Second Owner
4336  Individual       Manual  Second Owner
4337  Individual       Manual  Second Owner
4338  Individual       Manual   First Owner
4339  Individual       Manual   First Owner

[4340 rows x 9 columns]>

In [44]:
car.head

<bound method NDFrame.head of              car_models company_name  year  selling_price  km_driven    fuel  \
0         Maruti 800 AC       Maruti  2007          60000      70000  Petrol
1        Maruti Wagon R       Maruti  2007         135000      50000  Petrol
2     Hyundai Verna 1.6      Hyundai  2012         600000     100000  Diesel
3       Datsun RediGO T       Datsun  2017         250000      46000  Petrol
4        Honda Amaze VX        Honda  2014         450000     141000  Diesel
...                 ...          ...   ...            ...        ...     ...
4335  Hyundai i20 Magna      Hyundai  2014         409999      80000  Diesel
4336  Hyundai i20 Magna      Hyundai  2014         409999      80000  Diesel
4337      Maruti 800 AC       Maruti  2009         110000      83000  Petrol
4338  Hyundai Creta 1.6      Hyundai  2016         865000      90000  Diesel
4339   Renault KWID RXT      Renault  2016         225000      40000  Petrol

     seller_type transmission         owner
0     Individual       Manual   First Owner
1     Individual       Manual   First Owner
2     Individual       Manual   First Owner
3     Individual       Manual   First Owner
4     Individual       Manual  Second Owner
...          ...          ...           ...
4335  Individual       Manual  Second Owner
4336  Individual       Manual  Second Owner
4337  Individual       Manual  Second Owner
4338  Individual       Manual   First Owner
4339  Individual       Manual   First Owner

[4340 rows x 9 columns]>

In [45]:
!pip install -U ibm-watson-machine-learning

Requirement already satisfied: ibm-watson-machine-learning in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (1.0.257)
Requirement already satisfied: importlib-metadata in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (4.8.2)
Requirement already satisfied: urllib3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (1.26.7)
Requirement already satisfied: certifi in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (2022.9.24)
Requirement already satisfied: packaging in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (21.3)
Requirement already satisfied: lomond in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (0.3.3)
Requirement already satisfied: ibm-cos-sdk==2.11.* in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (2.11.0)
Requirement already satisfied: pandas<1.5.0,>=0.24.2 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (1.3.4)
Requirement already satisfied: requests in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (2.26.0)
Requirement already satisfied: tabulate in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-watson-machine-learning) (0.8.9)
Requirement already satisfied: jmespath<1.0.0,>=0.7.1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (0.10.0)
Requirement already satisfied: ibm-cos-sdk-s3transfer==2.11.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (2.11.0)
Requirement already satisfied: ibm-cos-sdk-core==2.11.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (2.11.0)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from ibm-cos-sdk-core==2.11.0->ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pandas<1.5.0,>=0.24.2->ibm-watson-machine-learning) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from pandas<1.5.0,>=0.24.2->ibm-watson-machine-learning) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from python-dateutil<3.0.0,>=2.1->ibm-cos-sdk-core==2.11.0->ibm-cos-sdk==2.11.*->ibm-watson-machine-learning) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests->ibm-watson-machine-learning) (3.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from requests->ibm-watson-machine-learning) (2.0.4)
Requirement already satisfied: zipp>=0.5 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from importlib-metadata->ibm-watson-machine-learning) (3.6.0)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/envs/Python-3.9/lib/python3.9/site-packages (from packaging->ibm-watson-machine-learning) (3.0.4)

In [51]:
from ibm_watson_machine_learning import APIClient

In [52]:
wml_credentials={
    "apikey":"oUHg5RCJT5AVH-CqNzu1fyA067ZbL9NdbCOH3R0DdnIh",
    "url":"https://us-south.ml.cloud.ibm.com"
}

In [53]:
wml_client=APIClient(wml_credentials)
wml_client.spaces.list()

Note: 'limit' is not provided. Only first 50 records will be displayed if the number of records exceed 50
------------------------------------  ----------  ------------------------
ID                                    NAME        CREATED
779eafa9-cdb9-4a9f-850a-71479fb8bc3c  car_resale  2022-11-18T09:24:59.388Z
------------------------------------  ----------  ------------------------

In [54]:
space_id="779eafa9-cdb9-4a9f-850a-71479fb8bc3c"

In [55]:
wml_client.set.default_space(space_id)

'SUCCESS'

In [56]:
wml_client.software_specifications.list()

-----------------------------  ------------------------------------  ----
NAME                           ASSET_ID                              TYPE
default_py3.6                  0062b8c9-8b7d-44a0-a9b9-46c416adcbd9  base
kernel-spark3.2-scala2.12      020d69ce-7ac1-5e68-ac1a-31189867356a  base
pytorch-onnx_1.3-py3.7-edt     069ea134-3346-5748-b513-49120e15d288  base
scikit-learn_0.20-py3.6        09c5a1d0-9c1e-4473-a344-eb7b665ff687  base
spark-mllib_3.0-scala_2.12     09f4cff0-90a7-5899-b9ed-1ef348aebdee  base
pytorch-onnx_rt22.1-py3.9      0b848dd4-e681-5599-be41-b5f6fccc6471  base
ai-function_0.1-py3.6          0cdb0f1e-5376-4f4d-92dd-da3b69aa9bda  base
shiny-r3.6                     0e6e79df-875e-4f24-8ae9-62dcc2148306  base
tensorflow_2.4-py3.7-horovod   1092590a-307d-563d-9b62-4eb7d64b3f22  base
pytorch_1.1-py3.6              10ac12d6-6b30-4ccd-8392-3e922c096a92  base
tensorflow_1.15-py3.6-ddl      111e41b3-de2d-5422-a4d6-bf776828c4b7  base
autoai-kb_rt22.2-py3.10        125b6d9a-5b1f-5e8d-972a-b251688ccf40  base
runtime-22.1-py3.9             12b83a17-24d8-5082-900f-0ab31fbfd3cb  base
scikit-learn_0.22-py3.6        154010fa-5b3b-4ac1-82af-4d5ee5abbc85  base
default_r3.6                   1b70aec3-ab34-4b87-8aa0-a4a3c8296a36  base
pytorch-onnx_1.3-py3.6         1bc6029a-cc97-56da-b8e0-39c3880dbbe7  base
kernel-spark3.3-r3.6           1c9e5454-f216-59dd-a20e-474a5cdf5988  base
pytorch-onnx_rt22.1-py3.9-edt  1d362186-7ad5-5b59-8b6c-9d0880bde37f  base
tensorflow_2.1-py3.6           1eb25b84-d6ed-5dde-b6a5-3fbdf1665666  base
spark-mllib_3.2                20047f72-0a98-58c7-9ff5-a77b012eb8f5  base
tensorflow_2.4-py3.8-horovod   217c16f6-178f-56bf-824a-b19f20564c49  base
runtime-22.1-py3.9-cuda        26215f05-08c3-5a41-a1b0-da66306ce658  base
do_py3.8                       295addb5-9ef9-547e-9bf4-92ae3563e720  base
autoai-ts_3.8-py3.8            2aa0c932-798f-5ae9-abd6-15e0c2402fb5  base
tensorflow_1.15-py3.6          2b73a275-7cbf-420b-a912-eae7f436e0bc  base
kernel-spark3.3-py3.9          2b7961e2-e3b1-5a8c-a491-482c8368839a  base
pytorch_1.2-py3.6              2c8ef57d-2687-4b7d-acce-01f94976dac1  base
spark-mllib_2.3                2e51f700-bca0-4b0d-88dc-5c6791338875  base
pytorch-onnx_1.1-py3.6-edt     32983cea-3f32-4400-8965-dde874a8d67e  base
spark-mllib_3.0-py37           36507ebe-8770-55ba-ab2a-eafe787600e9  base
spark-mllib_2.4                390d21f8-e58b-4fac-9c55-d7ceda621326  base
autoai-ts_rt22.2-py3.10        396b2e83-0953-5b86-9a55-7ce1628a406f  base
xgboost_0.82-py3.6             39e31acd-5f30-41dc-ae44-60233c80306e  base
pytorch-onnx_1.2-py3.6-edt     40589d0e-7019-4e28-8daa-fb03b6f4fe12  base
pytorch-onnx_rt22.2-py3.10     40e73f55-783a-5535-b3fa-0c8b94291431  base
default_r36py38                41c247d3-45f8-5a71-b065-8580229facf0  base
autoai-ts_rt22.1-py3.9         4269d26e-07ba-5d40-8f66-2d495b0c71f7  base
autoai-obm_3.0                 42b92e18-d9ab-567f-988a-4240ba1ed5f7  base
pmml-3.0_4.3                   493bcb95-16f1-5bc5-bee8-81b8af80e9c7  base
spark-mllib_2.4-r_3.6          49403dff-92e9-4c87-a3d7-a42d0021c095  base
xgboost_0.90-py3.6             4ff8d6c2-1343-4c18-85e1-689c965304d3  base
pytorch-onnx_1.1-py3.6         50f95b2a-bc16-43bb-bc94-b0bed208c60b  base
autoai-ts_3.9-py3.8            52c57136-80fa-572e-8728-a5e7cbb42cde  base
spark-mllib_2.4-scala_2.11     55a70f99-7320-4be5-9fb9-9edb5a443af5  base
spark-mllib_3.0                5c1b0ca2-4977-5c2e-9439-ffd44ea8ffe9  base
autoai-obm_2.0                 5c2e37fa-80b8-5e77-840f-d912469614ee  base
spss-modeler_18.1              5c3cad7e-507f-4b2a-a9a3-ab53a21dee8b  base
cuda-py3.8                     5d3232bf-c86b-5df4-a2cd-7bb870a1cd4e  base
runtime-22.2-py3.10-xc         5e8cddff-db4a-5a6a-b8aa-2d4af9864dab  base
autoai-kb_3.1-py3.7            632d4b22-10aa-5180-88f0-f52dfb6444d7  base
-----------------------------  ------------------------------------  ----
Note: Only first 50 records were displayed. To display more use 'limit' parameter.

In [57]:
model_name="car_model"
deployment_name="car_deploy"
model=lr

In [59]:
software_spec_uid=wml_client.software_specifications.get_id_by_name("runtime-22.1-py3.9")

In [61]:
model_props={
wml_client.repository.ModelMetaNames.NAME:model_name,
wml_client.repository.ModelMetaNames.TYPE:"scikit-learn_1.0",
wml_client.repository.ModelMetaNames.SOFTWARE_SPEC_UID:software_spec_uid
}

In [65]:
model_details=wml_client.repository.store_model(
model=model,
meta_props=model_props,
training_data=X_Train,
training_target=Y_Train)

In [66]:
model_details

{'entity': {'hybrid_pipeline_software_specs': [],
  'label_column': 'selling_price',
  'schemas': {'input': [{'fields': [{'name': 'car_models', 'type': 'object'},
      {'name': 'company_name', 'type': 'object'},
      {'name': 'year', 'type': 'int64'},
      {'name': 'km_driven', 'type': 'int64'},
      {'name': 'fuel', 'type': 'object'},
      {'name': 'seller_type', 'type': 'object'},
      {'name': 'transmission', 'type': 'object'},
      {'name': 'owner', 'type': 'object'}],
     'id': '1',
     'type': 'struct'}],
   'output': []},
  'software_spec': {'id': '12b83a17-24d8-5082-900f-0ab31fbfd3cb',
   'name': 'runtime-22.1-py3.9'},
  'type': 'scikit-learn_1.0'},
 'metadata': {'created_at': '2022-11-18T10:01:00.083Z',
  'id': 'd59ae9a0-f2e3-44f8-92f2-194a077be53a',
  'modified_at': '2022-11-18T10:01:03.131Z',
  'name': 'car_model',
  'owner': 'IBMid-667000ETX2',
  'resource_key': '961f9b50-de37-4609-815a-abf229b9ddc8',
  'space_id': '779eafa9-cdb9-4a9f-850a-71479fb8bc3c'},
 'system': {'warnings': []}}